<!-- child component -->
<div *ngFor="let pr of products">
    <app-child [p]="pr" [size]="i % 4 ? 400 : 200" (clicked)="childClicked($event)"></app-child>
</div>

<!-- name element -->
<div #nonStaticDiv></div>
<div #staticDiv></div>

<button (click)="handleClick($event)">Click me</button>


<!-- Structural directives -->
<!-- <div *ngIf="true; else evenNumber"></div> -->
<ng-container *ngIf="countClick % 2; then oddNumber; else evenNumber"></ng-container>

<ng-template #evenNumber>
    <div>Hello from even template</div>
    <p>{{countClick}}</p>
</ng-template>

<ng-template #oddNumber>
    <div>Hello from odd template</div>
    <p>{{countClick}}</p>
</ng-template>

