<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NgV10 Emample app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['components']" routerLinkActive="active">components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['directives']" routerLinkActive="active">directives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['pipes']" routerLinkActive="active">pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['observables']" routerLinkActive="active">observables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['http-example']" routerLinkActive="active">http</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['interceptor-example']" routerLinkActive="active">interceptors</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
